<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Document HTML</title>

   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
   <link rel="stylesheet" href="/css/theme.css" />
   <link rel="stylesheet" href="/css/styles.css" />
   <link rel="stylesheet" href="/css/styles-tablet.css" />
   <link rel="stylesheet" href="/css/styles-desktop.css" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
   <header class="bg-yellow p">
      <section>
         <h1>
            <img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
         </h1>

         <h2 class="font-heading  p text-center">
            <p>lugar barra de busqueda</p>
            <p>
               <i class=" fas fa-hand-holding-usd p"></i>
               Compra en cuotas y sin tarjetas de credito
            </p>
         </h2>

      </section>

      <nav class="navbar">
         <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Ayuda</a></li>
         </ul>

         <ul>
            <li>
               <a href="">Creá tu cuenta <i class="far fa-id-card"></i></a>
            </li>
            <li>
               <a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
               <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
            </li>
         </ul>
      </nav>

      <div class="burger-menu">
         <i class="fas fa-bars"></i>
      </div>
   </header>
   <section>
      <img src="/img/img-home-banner.jpg" class="w-100" alt="" margin-bot />
   </section>

   <main class="bg-grey main">
      <section>
         <h2 class="font-heading p ">
            Basado en tu ultima visita
         </h2>
      </section>

      <section>
         <article class=" product shadows">
            <img src="/img/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="price font-price">$6.770</p>
               <p class="descount font-desc">40% off</p>
               <h3 class="description font-title">Cafetera Moulinex</h3>
            </div>
         </article>

         <article class="product shadows ">
            <img src="/img/img-macbook-pro-2019.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$230.000</p>
               <p class="font-desc">20% off</p>
               <h3 class="font-title description">MacBook Pro 2019</h3>
            </div>
         </article>

         <article class=" product shadows">
            <img src="/img/img-samsung-galaxy-s10.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$70.500</p>
               <p class="font-desc">10% off</p>
               <h3 class="font-title description">Samsung Galaxy S10</h3>
            </div>
         </article>

         <article class=" product shadows">
            <img src="/img/img-tv-samsung-smart.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$23.200</p>
               <p class="font-desc">5% off</p>
               <h3 class="font-title description">SmartTv Samsung 43"</h3>
            </div>
         </article>
      </section>
      <section>
         <h2 class="font-heading p ">Ofertas</h2>

         <article class=" product shadows">
            <img src="/img/img-cafetera-moulinex.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$6.770</p>
               <p class="font-desc">40% off</p>
               <h3 class="font-title description>Cafetera Moulinex</h3">
            </div>
         </article>

         <article class=" product shadows">
            <img src="/img/img-macbook-pro-2019.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$230.000</p>
               <p class="font-desc">20% off</p>
               <h3 class="font-title description">MacBook Pro 2019</h3>
            </div>
         </article>

         <article class=" product shadows">
            <img src="/img/img-samsung-galaxy-s10.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$70.500</p>
               <p class="font-desc">10% off</p>
               <h3 class="font-title description">Samsung Galaxy S10</h3>
            </div>
         </article>

         <article class="product shadows">
            <img src="/img/img-tv-samsung-smart.jpg" class="w-100" alt="" margin-bot />
            <div class="product-content">
               <i class="fas fa-truck truck-icon border padding font-desc"></i>
               <p class="font-price">$23.200</p>
               <p class="font-desc">5% off</p>
               <h3 class="font-title description">SmartTv Samsung 43"</h3>
            </div>
         </article>
      </section>
   </main>

   <footer class="p">
      <section class="footer">
         <i class="fas fa-gift icon"></i>
         <h2>Pagá con tarjeta o en efectivo</h2>
         <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
         </p>
      </section>
      <section class="footer">
         <i class="fas fa-credit-card icon"></i>
         <h2>Envío gratis desde $ 2.500</h2>
         <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
            en miles de productos. Es un beneficio de Mercado Puntos.
         </p>
         <i class="fas fa-user-shield icon"></i>
         <h2>Seguridad, de principio a fin</h2>
         <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
         </p>
      </section>
      <p class="padding">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   </footer>
</body>

</html>