@media (min-width: 1200px) {
    .card {
        width: 25%;
        justify-content: space-around;
    }

    .top-nav {
        flex-wrap: nowrap;
    }
    .font-heading {
        font-size: 24px;
    }

    .navbar {
        font-size: 24px;
    }
    .button {
        padding: 10px;
    }
}
